name: Renovate
on:
  schedule:
    # Run every Monday at 5:30 AM UTC
    - cron: '30 5 * * 1'
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Set the log level"
        required: false
        default: "info"
        type: choice
        options:
          - info
          - debug
          - trace

env:
  LOG_LEVEL: ${{ inputs.logLevel || 'info' }}

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v40.3.6
        with:
          configurationFile: renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: ${{ env.LOG_LEVEL }}
